body {
    font-family: Verdana;
}

#CWW-header {
    text-align: center;
}

.planned-alerts-layout > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    border: 3px solid black;
    box-sizing: border-box;
    border-radius: 20px;
    height: auto;
    width: 40%;
    gap: 5px;
    padding: 15px;
    margin: 10px 0;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

@media (max-width: 600px) {
 .planned-alerts-layout > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    border: 3px solid black;
    box-sizing: border-box;
    height: auto;
    width: 85%;
    background-color: white;
    border-radius: 8px;
    }
}
/* NB: DO NOT FORGET TO SET MEDIA QUERIES EARLY */

.planned-alert-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    border: 3px solid black;
    box-sizing: border-box;
    border-radius: 20px;
    height: auto;
    width: 60%;
    gap: 5px;

}

#area-search-filter {
    display: grid;
    justify-items: center;
    margin-top: 30px;
    
}

#area-search {
    border-radius: 5px; 
    margin-bottom: 15px;
    width: 22vw;  
    height: 20px; 
}

#search-area-btn {
    cursor: pointer;
    margin-bottom: 40px;
    
}

#install-btn {
    cursor: pointer;
    margin-bottom: 40px;
}

.planned-alerts-layout > button {
    cursor: pointer;
}